<section class="categories">
  <h2>
    <span>Categories</span>
    <button mat-stroked-button
            color="primary"
            class="margin-left"
            (click)="onAddCategoryClicked()">🏷 Add category</button>
  </h2>
  <mat-selection-list role="list"
                      [multiple]="false"
                      [compareWith]="compareFunction"
                      [(ngModel)]="selectedCategories"
                      (ngModelChange)="onSelectedCategoryChange($event)">
    <mat-list-option *ngFor="let category of categories"
                     role="listitem"
                     [value]="category">{{category.name | titlecase}}</mat-list-option>
  </mat-selection-list>
</section>

<section class="tasks">
  <h2><span>{{selectedCategories[0].name | titlecase}}</span>
    <button mat-stroked-button
            color="accent"
            class="margin-left"
            disabled
            (click)="onAddTaskClicked()">📋 Add task</button></h2>
  <mat-list role="list">
    <mat-list-item *ngFor="let task of selectedTasks"
                   role="listitem">{{task.title}}</mat-list-item>
  </mat-list>
</section>