:host {
  display: flex;
  width: 100%;
}

.categories {
  flex-basis: 300px;
  border-right: 1px solid var(--grey200);
  margin-right: 60px;
  padding-right: 30px;
}

.tasks {
  flex-grow: 1;
}

h2 {
  display: flex;
  justify-content: space-between;
}
