<section class="categories">
  <h2>
    <span>Categories</span>
    <button mat-stroked-button
            color="primary"
            class="margin-left"
            (click)="onAddCategoryClicked()">🏷 Add category</button>
  </h2>
  <mat-selection-list role="list"
                      [multiple]="false"
                      [compareWith]="compareFunction"
                      [(ngModel)]="selectedCategories"
                      (ngModelChange)="onSelectedCategoryChange($event)">
    <mat-list-option *ngFor="let category of categories"
                     role="listitem"
                     [value]="category">
      <span class="circle"
            [style.backgroundColor]="category.color"></span>
      <span>{{category.name | titlecase}}</span>
    </mat-list-option>
  </mat-selection-list>
</section>

<section class="tasks">
  <h2><span>{{selectedCategories[0].name | titlecase}}</span>
    <button mat-stroked-button
            color="accent"
            class="margin-left"
            (click)="onAddTaskClicked()">📋 Add task</button></h2>
  <mat-list role="list">
    <mat-list-item *ngFor="let task of categoryTasks"
                   role="listitem"
                   class="task"
                   [style.borderColor]="selectedCategories[0].color">{{task.title}}
      <div [style.backgroundColor]="selectedCategories[0].color"
           class="background"></div>
    </mat-list-item>
  </mat-list>
</section>