<app-section-title>
  <span section-title>{{selectedCategories[0].name | titlecase}}</span>
  <button section-button
          mat-stroked-button
          color="accent"
          class="margin-left"
          (click)="onAddTaskClicked()">📋 Add task</button>
</app-section-title>

<mat-list role="list">
  <h3 *ngIf="!categoryTasks"
      class="margin-top">
    🌼 No tasks to display.
  </h3>
  <app-task *ngFor="let task of categoryTasks"
            [task]="task"
            [selectedCategories]="selectedCategories">
  </app-task>
</mat-list>